<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DB2AdminTool.Properties.Settings.SAMPLEConnectionString"
            connectionString="User ID=db2;Password=db2;Server=localhost;Database=SAMPLE;Current Schema=MVILL"
            providerName="Devart.Data.DB2" />
        <add name="DB2AdminTool.Properties.Settings.sampleConnectionString1"
            connectionString="User ID=db2;Password=db2;Server=localhost;Database=sample;Current Schema=mvill"
            providerName="Devart.Data.DB2" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>